.underline-hover {
  display: inline-block;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: $border-width-fat;
    background-color: $primary-color;
    transform: scaleX(0);
    transition: all $transition-duration $transition-timing-function;
    border-radius: $border-radius;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

.background-box {
  position: relative;
  text-shadow: 3px -3px 0px $background-black;

  &:before {
    content: "";
    position: absolute;
    top: -15px;
    right: -10px;
    width: 100%;
    height: 100%;
    background-color: $primary-color-dark;
    z-index: -1;
    border-radius: $border-radius;
  }
}

.background-linear-texture {
  --parallaxX: 0px;
  --parallaxY: 0px;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    @include background-linear($background-black, (-45deg, 45deg));
    transform: scale(2) translateX(var(--parallaxX, 0px))
      translateY(var(--parallaxY, 0px));
  }
}
