@use "sass:color";

@mixin shadow() {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.43);
}

@mixin background-linear($color, $angles) {
  $gradients: ();

  @each $angle in $angles {
    $gradient: repeating-linear-gradient(
      $angle,
      transparent 0 100px,
      color.adjust($color, $lightness: -1%) 100px 101px
    );
    $gradients: append($gradients, $gradient, comma);
  }

  background-image: $gradients;
}
